body {
    background-color: #dddce9;
    padding: 100px;
}

.selectedMenu {
    background-color: rgba(109, 82, 134, 0.15);
}

.debug-pane {
    background-color: aqua;
}

.output {
    background: darkgray;
}

.group1 {
    border-left: dashed #5a5a63;
    padding: 20px;
}

.group2 {
    border-left: dashed #acabb8;
    padding: 20px;
}

.calckcheck{

    padding: 20px;
    border: 10px;
}

.well-1 {
    background-color: #acabb8;
    border: solid black 1px;
    padding: 9px;
    margin: 5px;
    border-radius: 15px;
}

.well-2 {
    background-color: #9897a4;
    border: solid black 1px;
    padding: 9px;
    margin: 5px;
    border-radius: 15px;
}

.well-3 {
    background-color: #5a5a63;
    border: solid black 1px;
    padding: 9px;
    margin: 5px;
    border-radius: 15px;
}


.style1 {
    background-color: blueviolet;
}
.style2 {
    background-color: aquamarine;
}

.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}